Repository jaem1n207/dynamic-scrollbar: changes, and which lefthook commands are due for each by the changed paths.
All: lint, style

lefthook.yml:

commit-msg:
  commands:
    lint-commit-message:
      run: npx commitlint --edit $1

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,jsx,ts,tsx}'
      run: npx eslint {staged_files}
    style:
      glob: '*.{js,jsx,ts,tsx,json,yml,md}'
      run: npx prettier --write {staged_files} && git update-index --again

style: formatting
  .eslintrc
  .github/workflows/codeql-analysis.yml
  .github/workflows/upload.yml
  .markdownlint.json
  .prettierrc.json
  .vscode/settings.json
  commitlint.config.mjs
  package.json
  pnpm-lock.yaml
  src/_locales/en/messages.json
  src/background/index.ts
  src/baseManifest_chrome.json
  src/baseManifest_edge.json
  src/baseManifest_firefox.json
  src/baseManifest_opera.json
  src/components/Button/button.scss
  src/components/Button/index.tsx
  src/content/index.tsx
  src/content/messageListener.ts
  src/options/index.html
  src/popup/Popup.tsx
  src/popup/index.html
  src/types/message.d.ts
  src/types/openControl.d.ts
  src/types/response.d.ts
  src/utils/sendMessages.ts
  tsconfig.json
  webpack.config.ts
  webpack.config.utils.ts
Due: lint, style

feat: 탭의 최상단 프레임 기본 스크롤 숨기도록 처리
  package.json
  src/background/index.ts
  src/baseManifest_chrome.json
  src/baseManifest_edge.json
  src/baseManifest_firefox.json
  src/baseManifest_opera.json
  src/content/index.tsx
  src/content/messageListener.ts
  src/popup/index.html
  src/popup/index.tsx
  src/shared/platform.ts
  src/types/message.d.ts
  src/types/platform.d.ts
  src/utils/sendMessages.ts
  tsconfig.json
  webpack.config.ts
  webpack.config.utils.ts
Due: lint, style

chore(es): no-non-null-asserted-optional-chain lint 규칙 비활성화
  .eslintrc
Due: none

chore: 번들링 결과 폴더명 수정
  .github/workflows/upload.yml
  .gitignore
  tsconfig.json
  webpack.config.ts
  webpack.config.utils.ts
Due: lint, style

ci: spam check workflow
  .github/pull_request_template.md
  .github/workflows/spam.yml
Due: style

refactor: fsd 아키텍처로 전환
  .gitignore
  src/app/background/index.ts
  src/app/content/index.tsx
  src/app/options/index.html
  src/app/options/options.tsx
  src/app/popup/index.html
  src/app/popup/index.tsx
  src/baseManifest_chrome.json
  src/baseManifest_edge.json
  src/baseManifest_firefox.json
  src/baseManifest_opera.json
  src/content/index.tsx
  src/pages/content/api/hide-scrollbar.ts
  src/pages/content/api/listeners.ts
  src/pages/content/index.ts
  src/pages/content/ui/content.tsx
  src/pages/popup/index.ts
  src/pages/popup/ui/Popup.tsx
  src/shared/_locales/en/messages.json
  src/shared/assets/icons/icon-128.png
  src/shared/assets/icons/icon-16.png
  src/shared/assets/icons/icon-24.png
  src/shared/assets/icons/icon-32.png
  src/shared/assets/icons/icon-48.png
  src/shared/assets/icons/icon-64.png
  src/shared/lib/platform.ts
  src/shared/lib/send-messages.ts
  src/shared/lib/storage.ts
  src/shared/types/message.d.ts
  src/shared/types/openControl.d.ts
  src/shared/types/platform.d.ts
  src/shared/types/response.d.ts
  src/shared/ui/Button/button.scss
  src/shared/ui/Button/index.tsx
  tsconfig.json
  webpack.config.utils.ts
Due: lint, style

chore: scripts 가독성 향상
  package.json
Due: style

refactor: react 식별자 제거
  .eslintrc
  package.json
  pnpm-lock.yaml
  src/app/background/index.ts
  src/app/content/index.tsx
  src/app/options/options.tsx
  src/app/popup/index.tsx
  src/pages/content/api/listeners.ts
  src/pages/content/ui/content.tsx
  src/pages/popup/ui/Popup.tsx
  tsconfig.json
Due: lint, style

refactor: manifest 동적으로 생성 및 타입 100% 지원
  .gitignore
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/baseManifest_chrome.json
  src/baseManifest_edge.json
  src/baseManifest_firefox.json
  src/baseManifest_opera.json
  src/manifest.ts
  src/scripts.utils.ts
  src/shared/lib/log.ts
  src/shared/lib/node-utils.ts
  tsconfig.json
  webpack.config.utils.ts
Due: lint, style

chore: 디펜던시 정리
  package.json
  pnpm-lock.yaml
Due: style

docs: update package.json description
  package.json
Due: style

chore: setup esm loader
  package.json
  pnpm-lock.yaml
  src/manifest.ts
  tsconfig.json
  webpack.config.ts
  webpack.config.utils.ts
Due: lint, style

fix: upload workflow 압축 스크립트 전 빌드 실행하도록 수정
  .github/workflows/upload.yml
Due: style

fix: upload workflow 각upload 단계 이름 지정
  .github/workflows/upload.yml
Due: style

feat: 커밋 메시지 컨벤션 정립 및 cli 구성
  commitlint.config.mjs
  package.json
  pnpm-lock.yaml
Due: style

docs: 레포 기여에 필요한 리소스 추가
  .github/CODEOWNERS
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature.yml
Due: style

fix: 개발 모드에서 서버 origin 설정
  scripts/prepare.ts
  vite.config.mts
Due: lint, style

fix: commit message lint 설정
  package.json
  pnpm-lock.yaml
Due: style

ci: 커밋 메시지 린트 검사하지 않고 cli만 사용하도록 수정
  commitlint.config.mjs
  package.json
  pnpm-lock.yaml
Due: style

ci: 사용 중지 될 node16 버전 대신 20버전 사용하도록 수정
  .github/workflows/upload.yml
Due: style

fix: 개발 환경에서 온디멘드로 browser api를 가져오는 방식에 오류가 있어 임시 비활성화
  src/background/main.ts
  src/popup/Popup.tsx
  vite.config.mts
Due: lint, style

refactor: 개발 환경용 manifest 구성
  src/manifest.ts
Due: lint, style

chore: 잡다한 수정
  e2e/basic.spec.ts
  src/assets/icon.svg
  src/components/Logo.tsx
  src/contentScripts/index.ts
  vite.config.mts
Due: lint, style

feat(type-safe-storage): 스토리지 타입 정의
  package.json
  pnpm-lock.yaml
  src/logic/storage.ts
  src/shared/model/useWebExtensionStorage.ts
Due: lint, style

refactor: 일부 fsd 아키텍처 적용
  .github/CONTRIBUTING.md
  .gitignore
  src/background/contentScriptHMR.ts
  src/entities/storage/index.ts
  src/entities/storage/model/storage.ts
  src/entities/storage/model/useWebExtensionStorage.ts
  src/global.d.ts
  src/logic/index.ts
  src/logic/storage.ts
  src/options/Options.tsx
  src/options/main.tsx
  src/popup/Popup.tsx
  src/popup/main.tsx
  src/shared/lib/env.ts
  src/shared/styles/index.ts
  src/shared/styles/main.css
  src/sidebar/Sidebar.tsx
  src/sidebar/main.tsx
  vite.config.mts
Due: lint, style

chore(add-deps): add zustand
  package.json
  pnpm-lock.yaml
Due: style

feat: 전반적인 앱 프로토타입 구현
  .vscode/settings.json
  src/entities/app/index.ts
  src/entities/app/model/store.ts
  src/entities/app/model/types.ts
  src/features/timer/index.ts
  src/features/timer/model/state.tsx
  src/features/timer/ui/Timer.tsx
  src/popup/Popup.tsx
Due: lint, style

feat: 전반적인 앱 프로토타입 구현
  .eslintrc
  .gitignore
  .vscode/settings.json
  src/entities/app/index.ts
  src/entities/app/model/store.ts
  src/entities/app/model/types.ts
  src/features/timer/index.ts
  src/features/timer/model/state.tsx
  src/features/timer/model/use-increaming-number.ts
  src/features/timer/ui/Timer.tsx
  src/global.d.ts
  src/popup/Popup.tsx
  src/shared/lib/index.ts
  src/shared/model/index.ts
  src/shared/model/use-interval.ts
  vite.config.mts
Due: lint, style

refactor: 네이밍 컨벤션 및 app 상태 co-locate
  src/entities/app/model/store.ts
  src/entities/app/model/types.ts
  src/entities/storage/model/storage.ts
  src/entities/storage/model/use-web-extension-storage.ts
  src/popup/Popup.tsx
Due: lint, style

refactor: 서버측 환경 변수 유효성 검사
  package.json
  pnpm-lock.yaml
  scripts/utils.ts
Due: lint, style

feat: 다국어 적용
  src/features/timer/ui/Timer.tsx
  src/shared/i18n/_locales/en/messages.json
  src/shared/i18n/_locales/ko/messages.json
  src/shared/i18n/getTranslation.ts
Due: lint, style

docs: 디자인 토큰 설계 문서 작성
  design_token.md
  md-assets/svg/design-token/base.svg
  md-assets/svg/design-token/first.svg
  md-assets/svg/design-token/input.svg
  md-assets/svg/design-token/modifier.svg
  md-assets/svg/design-token/namespace.svg
  md-assets/svg/design-token/object.svg
Due: style

feat: unocss with shadcn
  components.json
  package.json
  pnpm-lock.yaml
  src/shared/lib/utils.ts
  src/shared/ui/button.tsx
  src/shared/ui/index.ts
  unocss.config.ts
Due: lint, style

feat: 동적 테마 설정 및 스토리지 훅 인터페이스 수정
  package.json
  pnpm-lock.yaml
  scripts/prepare.ts
  src/entities/storage/index.ts
  src/entities/storage/model/storage.ts
  src/entities/storage/model/use-web-extension-storage.ts
  src/options/Options.tsx
  src/options/index.html
  src/popup/Popup.tsx
  src/popup/index.html
  src/shared/model/index.ts
  src/shared/model/storage/index.ts
  src/shared/model/storage/use-web-extension-storage.ts
  src/shared/styles/main.css
  src/shared/ui/theme-switch.tsx
  src/sidebar/Sidebar.tsx
  src/sidebar/index.html
  vite.config.mts
Due: lint, style

refactor: use-interval 훅 수정
  src/shared/model/use-interval.ts
Due: lint, style

feat: set firefox gecko properties
  src/manifest.ts
Due: lint, style
