Repository jaem1n207/dynamic-scrollbar: changes, and which lefthook commands are due for each by the changed paths.
All: lint, style

lefthook.yml:

commit-msg:
  commands:
    lint-commit-message:
      run: npx commitlint --edit $1

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,jsx,ts,tsx}'
      run: npx eslint {staged_files}
    style:
      glob: '*.{js,jsx,ts,tsx,json,yml,md}'
      run: npx prettier --write {staged_files} && git update-index --again

chore: packagemanager pnpm 9.0.5 버전으로 수정
  package.json
  pnpm-lock.yaml
Due: style

refactor(folder): 훅 관리하는 폴더 이름을 model이 아닌 use로 수정
  src/shared/model/index.ts
  src/shared/use/index.ts
  src/shared/use/use-interval.ts
  src/shared/use/use-web-extension-storage.ts
Due: lint, style

feat: 시스템 키 생성 함수 작성
  src/shared/lib/factory.ts
  src/shared/lib/index.ts
Due: lint, style

feat: custom theme 설정
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  scripts/prepare.ts
  src/contentScripts/pages/App.tsx
  src/entities/theme/index.ts
  src/entities/theme/lib/index.ts
  src/entities/theme/model/use-dark.ts
  src/entities/theme/model/use-system-dark.ts
  src/features/theme/index.ts
  src/features/theme/ui/appearance-switch.tsx
  src/features/theme/ui/theme-switch.tsx
  src/options/Options.tsx
  src/popup/Popup.tsx
  src/shared/lib/animation.ts
  src/shared/ui/theme-switch.tsx
  vite.config.mts
Due: lint, style

feat: label 컴포넌트 추가
  package.json
  pnpm-lock.yaml
  src/shared/ui/index.ts
  src/shared/ui/label.tsx
Due: lint, style

feat: theme customizer 컴포넌트 구현
  .vscode/settings.json
  src/features/theme/consts/themes.ts
  src/features/theme/ui/style-switch.tsx
  src/options/Options.tsx
  src/popup/Popup.tsx
  src/widgets/theme/index.ts
  src/widgets/theme/ui/theme-customizer.tsx
Due: lint, style

feat: 읽기 전용 배열 생성하는 유틸 함수 구현
  src/shared/lib/utils.ts
Due: lint, style

chore: lint-staged 수정
  package.json
Due: style

feat: 스토리지 상태 변경 시 react가 알아차릴 수 있도록 훅 구현
  src/shared/use/index.ts
  src/shared/use/use-sync-local-storage-state.ts
Due: lint, style

feat: 모션 감소 설정 감지 후 애니메이션 활성화 여부 적용 및 esbuild 통해 코드 축소
  package.json
  pnpm-lock.yaml
  refreshPreamble.js
  scripts/prepare.ts
  src/entities/theme/model/use-system-dark.ts
  src/options/Options.tsx
  src/shared/lib/animation.ts
  src/shared/use/use-prefers-reduced-motion.ts
Due: lint, style

chore: 폴더명 수정
  src/features/theme/const/themes.ts
Due: lint, style

refactor: zustand로 theme 상태 관리
  scripts/prepare.ts
  src/entities/theme/index.ts
  src/entities/theme/lib/index.ts
  src/entities/theme/model/use-dark.ts
  src/entities/theme/model/use-theme-store.ts
  src/entities/theme/types/index.ts
  src/features/theme/ui/appearance-switch.tsx
  src/shared/use/use-sync-local-storage-state.ts
  src/widgets/theme/ui/theme-customizer.tsx
Due: lint, style

perf: 필요할 때 js 파일 로드하도록 수정
  scripts/prepare.ts
Due: lint, style

refactor: sync storage의 저장 용량 할당량에 따른 경고 메시지 처리
  src/shared/use/index.ts
  src/shared/use/use-web-extension-storage.ts
Due: lint, style

ci: vite 실행 프로세스 비정상 종료 시 생성되는 임시 파일 제거하는 스크립트 작성
  .gitignore
  package.json
Due: style

style: 더욱 자연스러운 애니메이션 효과 설정
  src/shared/styles/main.css
  unocss.config.ts
Due: lint, style

feat: options page
  .eslintrc
  shim.d.ts
  src/options/Options.tsx
  unocss.config.ts
Due: lint, style

docs: 필요 없는 문서 제거
  design_token.md
Due: style

feat(ui): typography component
  src/shared/ui/typography.tsx
Due: lint, style

style(lint): lint code_of_conduct
  .github/CODE_OF_CONDUCT.md
Due: style

docs: z-index 사용 가이드라인 문서 작성
  .github/CONTRIBUTING.md
Due: style

feat: locales 폴더 번들 파일에 추가
  scripts/prepare.ts
  src/manifest.ts
Due: lint, style

Update LICENSE
  LICENSE
Due: none

feat: options 페이지 헤더 구현
  extension/_locales/en/messages.json
  extension/_locales/ko/messages.json
  package.json
  pnpm-lock.yaml
  shim.d.ts
  src/options/Options.tsx
  src/options/main.tsx
  src/shared/const/site.ts
  src/shared/i18n/index.ts
  src/shared/ui/button.tsx
  src/shared/ui/index.ts
  src/shared/ui/link.tsx
  src/shared/ui/tabs.tsx
  src/shared/ui/tooltip.tsx
  src/types/auto-imports.d.ts
  src/widgets/header/index.ts
  src/widgets/header/ui/options-header.tsx
  unocss.config.ts
Due: lint, style

feat: dx 향상을 위한 unocss 커스텀 설정 및 테마 설정 ui 구현
  package.json
  scripts/prepare.ts
  src/features/theme/index.ts
  src/features/theme/ui/appearance-switch.tsx
  src/features/theme/ui/theme-switch.tsx
  src/options/Options.tsx
  src/options/main.tsx
  src/shared/ui/link.tsx
  src/widgets/header/ui/options-header.tsx
  src/widgets/theme/ui/theme-customizer.tsx
  unocss.config.ts
Due: lint, style

Rename Options.tsx to options.tsx
  src/options/options.tsx
Due: lint, style

style: startViewTransition API 활용해 테마 변경 시 애니메이션 적용
  shim.d.ts
  src/features/theme/ui/appearance-switch.tsx
  src/features/theme/ui/style-switch.tsx
  src/options/index.html
  src/popup/index.html
  src/shared/lib/experiment-api.ts
  src/shared/lib/index.ts
  src/shared/styles/main.css
  src/sidebar/index.html
Due: lint, style

chore: remove unused assets
  md-assets/svg/design-token/base.svg
  md-assets/svg/design-token/first.svg
  md-assets/svg/design-token/input.svg
  md-assets/svg/design-token/modifier.svg
  md-assets/svg/design-token/namespace.svg
  md-assets/svg/design-token/object.svg
Due: none

chore: 옵션 페이지에서 사용하는 스타일시트 분리
  src/options/main.tsx
  src/options/transition.css
  src/shared/styles/main.css
Due: lint, style

style: icon-btn 커스텀 클래스명 삭제하고 link 컴포넌트에 icon variant 추가
  src/shared/ui/link.tsx
  src/widgets/header/ui/options-header.tsx
  unocss.config.ts
Due: lint, style

test: typography 테스트 케이스 작성
  scripts/utils.ts
  src/components/Logo.tsx
  src/components/__tests__/Logo.test.tsx
  src/popup/Popup.tsx
  src/shared/ui/__tests__/typography.test.tsx
  src/sidebar/Sidebar.tsx
  src/sidebar/main.tsx
Due: lint, style

Rename Sidebar.tsx to sidebar.tsx
  src/sidebar/sidebar.tsx
Due: lint, style

Rename Popup.tsx to popup.tsx
  src/popup/popup.tsx
Due: lint, style

chore: rename sidebar, popup
  src/popup/main.tsx
  src/sidebar/main.tsx
Due: lint, style

refactor: sidebar, popup 페이지 제거
  e2e/basic.spec.ts
  playwright.config.ts
  scripts/prepare.ts
  src/background/main.ts
  src/contentScripts/index.ts
  src/contentScripts/pages/App.tsx
  src/contentScripts/render.tsx
  src/manifest.ts
  src/popup/index.html
  src/popup/main.tsx
  src/popup/popup.tsx
  src/sidebar/index.html
  src/sidebar/main.tsx
  src/sidebar/sidebar.tsx
  vite.config.mts
Due: lint, style

chore: 로고 교체
  extension/assets/icon-512.png
  extension/assets/logo-512.png
  src/assets/logo-512.png
  src/manifest.ts
Due: lint, style

test: typography 테스트 케이스 추가
  src/shared/ui/__tests__/typography.test.tsx
  src/shared/ui/typography.tsx
Due: lint, style

feat: fsd layer 모듈 상호작용 규칙 작성
  .eslintrc
  eslint/fsd/index.js
  eslint/fsd/layer-imports.js
  package.json
  pnpm-lock.yaml
Due: lint, style

feat: 콘텐츠 스크립트 컴포넌트 렌더링
  src/contentScripts/index.ts
  src/contentScripts/pages/App.tsx
  unocss.config.ts
Due: lint, style
